* {
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/01/21/02/people-2567965_1280.jpg);
    background-color: honeydew;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#covidCard {
    background: linear-gradient(#ba84d38f,#9d38c5);
    border-radius: 25px;
    margin: 0 auto;
    width: 35%;
    
}

#covidData {
    color: #FFFFFF;
}

#searchBtn {
    background-color: red;

}

.title {
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: url(images/grandstand-3234827_960_720.jpg);
    border-radius: 25px;

}


.description {
    text-align: center;
    background-color: rgba(167, 0, 0, 0.76);
    padding: 10px;
    position: relative;
    border-radius: 25px;
    margin: 10px;
    
}
#searchInput {
    width: 50%;
    color: teal;
    text-align: center;
    font-size: 40px;
}




@media only screen and (max-width: 768px) {
    body {
      /* The file size of this background image is 93% smaller
         to improve page load speed on mobile internet connections */
      background-image: url(https://cdn.pixabay.com/photo/2017/08/01/21/02/people-2567965_1280.jpg);
      
    }
    #covidCard {
        width: 100%;
    }
    figure {
        margin: 0;
    }

  }
  

  
